/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-feb-2019, 15:13:32
    Author     : jonathan
*/



*{
    padding: 0px;
    margin: 0px;
}

html,body{
    width: 100%;
    height: 100%;
}


body *{
    
    box-sizing: border-box;
    /*outline: 1px solid #abc;*/
}
body{
    background-color: #85929e ;
}

:root{
    --fondo :  #1da0c7;
}
header{
    width:100%;
    height:5%;
    background-color: var(--fondo);
    /*padding: 10px;*/
    /*margin: 10px auto;*/
    border-radius: 10px;
}

#link{
    float: left;
    width: 20%;
    height: 100%;
}



header>form{
    width: 100%;
    height: 100%;
    overflow:  auto;
}
.menu{
    background: rgba(0,0,0,0);
    width: 100%;
    height: 100%;
}
.menuitem{
    background: white;
    margin-left: 10px;
}
/*#contenedor{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}*/
main{
    width: 100%;
    height: 90%;
    /*margin: 5px auto;*/
    overflow:  hidden;
    /*border-radius: 50%;*/
    /*transition: border-radius 2s;*/
    background: -moz-linear-gradient(top,#00FFFF , #e2eef1  );
    background: -webkit-linear-gradient(top,#00FFFF , #e2eef1 );
    background: linear-gradient(top,#00FFFF , #e2eef1  );
    
}


footer{
    width: 100%;
    height: 5%;
    background-color: var(--fondo) ;
    color: white;
    /*margin: 5px auto;*/
    border-radius: 10px;
    overflow: auto;
}




.texto{
    width: 100% !important;
    
}

.sidebar{
    background: rgba(0,0,0,.5);
    color: white;
    
}


@media (max-height:800px){
    header{
        height: 10%;
        
    }
    main{
        height: 80%;
    }
    footer{
        height: 10%;
    }
    
}
