/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-feb-2019, 15:13:32
    Author     : jonathan
*/

*{
    padding: 0px;
    margin: 0px;
}

html,body{
    width: 100%;
    height: 100%;
}
body *{
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 10%;
    background-color:  #0980f7;
    padding: 10px;
}

main{
    width: 100%;
    height: 85%;
}

footer{
    width: 100%;
    height: 5%;
    background-color: black;
    color: white;
}

main>section{
    width: 70%;
    height: 100%;
    float: left;
    background-color: lavender;
}

main>aside{
    width: 30%;
    height: 100%;
    float: left;
    background-color:  #f7cc09;
    padding: 5px;

}

#colores{
    width: 59px;
    border: 1px solid black;
    height: 10px;
    margin: 5px auto;
}

.color{
    width: 6.8px;
    height: 6.6px;
    border: 1px solid black;
    float: left;
    margin-top: 1px;
    margin-left: 1.2px;
    
}

#busqueda{
    float: right;
    
}
header>h1{
    float: left;
}


#rojo{
    background: #FF0000;
}
#naranja{
    background: #FF8000;
}
#amarillo{
    background:#FFFF00;
}
#verde{
    background: #40FF00;
}

#azul{
     background: #0000FF;
}
#anil{
    background: #8000FF;
}
#violeta{
    background:#FF00BF ;
}

.texto{
    width: 100%;
}