/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-abr-2019, 0:23:26
    Author     : jonh
*/

section{
    width:70%;
    height:70%; 
    margin: 5% auto;
    background: black;
    color: whitesmoke;
    padding: 5%;
    transition: background 1s ease;
    border-radius: 10%;
    box-shadow:rgb(0,100,0) 0px 0px 0px 5px;
}
h1{
    text-align: center;
    margin-bottom: 1%;
}

#login{
    border-color: white;
}