/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-abr-2019, 10:37:00
    Author     : jonh
*/

.contenedor{
    float: left;
    width: 50%;
    height: 100%;
    
    color: white;
    
}

.contenedor > form{
    position: relative;
    width: 100%;
    height: 100%;
}
.boton{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 80%;
    height: 50%;
    border-radius:20%;
    background : #1f3445;
    color: white;
    box-shadow:  5px 10px 10px #888888;
    font-size: 300%;
    border: black solid .1px;
    text-shadow: 2px 2px #000000;
    transition: border .5s,text-shadow .5s ease-in-out;
    font-family:  fantasy;
    
}

.boton:hover{
    border: white solid 1px;
    text-shadow: 2px 2px #FF0000;
}