/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-abr-2019, 22:22:57
    Author     : jonh
*/

section{
    float: left;
    width: 25%;
    height: 100%;
    background : #1f3445;
    color: white;
    
}

#mapa{
    float: left;
    width: 75%;
    height: 100%;
}
h1{
    text-align: center;
}
h2,h3,h4,h5,h6{
    font-weight:normal;
    width: 100%;
    text-align: center;
}

#form{
    width: 100%;
    height: 100%;
}

.boton{
    width: 100% !important;
    background: white;
}